[Unit]
Description=Run Clockify backup on weekdays at 18:00

[Timer]
OnCalendar=Mon..Fri *-*-* 18:00:00
Persistent=true
Unit=clockify-backup.service

[Install]
WantedBy=timers.target
