[Unit]
Description=Amazon S3 storage backup

[Service]
Type=oneshot
User=%i
LoadCredential=s3-access-key:/etc/credstore/s3-access-key
LoadCredential=s3-secret-key:/etc/credstore/s3-secret-key
LoadCredential=s3-region:/etc/credstore/s3-region
ExecStart=/home/%i/Code/dotfiles/services/storage/s3-backup.sh

# Sandboxing
ProtectSystem=strict
ProtectHome=read-only
ReadWritePaths=/home/%i/Backups
NoNewPrivileges=true
PrivateTmp=true
ProtectProc=invisible
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectControlGroups=true
ProtectClock=true
ProtectHostname=true
RestrictSUIDSGID=true
RestrictRealtime=true
RestrictNamespaces=true
LockPersonality=true
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
CapabilityBoundingSet=
SystemCallFilter=@system-service
SystemCallArchitectures=native
SystemCallErrorNumber=EPERM
MemoryDenyWriteExecute=true
UMask=0077
